html, body {
    height: 100%;
}
.appHeader {
    h1 {
        text-align: center;
    }
}

.mainContent {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    h2 {
        text-align: center;
    }

    form {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .button-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}